.questions-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questions{
    padding:15px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.603);
    margin: 10px;
    border-radius: 10px;
}
.flat{
    padding:5px 10px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.603);
    border-radius: 50%;
    border: none;
}
.question h2{
    font-size: 17px;
    color: rgb(128, 120, 120);
}
.answer p{
    font-size: 15px;
    color: rgb(128, 120, 120);
    margin: 0 50px;
    animation: 1s ease-in-out slide-show;
}
@keyframes slide-show {
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}