.aboutMe{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin: 7% 0;
}
@media screen and (max-width:890px) {
    .aboutMe{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 50px;
    }
}